* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    resize: none;
    text-decoration: none;
}

#map {
    height: 100vh;
}

.btn {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    width: fit-content;
}


#form-container {
    float: right;
    padding: 10px;
    opacity: 90%;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(-0%, -0%);
    z-index: 10;

    #event-form {
        background: #ababab;
        border: 1px solid #010101;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 200px;
    }
}
