    
    <div id="event-form">
        <div class="title"> <%= data.resources.event_title %></div>
        <label for="event-title"><%= data.resources.event_title_placeholder %> :</label>
        <input type="text" id="event-title" placeholder="<%= data.resources.event_title_placeholder %>">
        
        <label for="event-content"><%= data.resources.event_content %> :</label>
        <textarea id="event-content" placeholder="<%= data.resources.event_content %>"></textarea>
        
        <label for="event-debut"><%= data.resources.event_debut_placeholder %></label>
        <input type="date" id="event-debut">

        <label for="event-fin"><%= data.resources.event_fin_placeholder %></label>
        <input type="date" id="event-fin">

        <div id="event-save" class="btn"><%= data.resources.event_save_label %></div>
    </div>
