<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= config.apis.mapbox_gl.css_url %>">
    <title>TP-JS-POO</title>
</head>
    <div id="map"></div>

    <div id="form-container" class="event">
        
    </div>
</body>
</html>